/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/net/sand/logoutlives/listeners/EntityKill.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/net/sand/logoutlives/LogoutLives.class
/LogoutLives.iml
/target/LogoutLives-1.0-SNAPSHOT.jar
/target/classes/net/sand/logoutlives/LogoutVillager.class
/target/classes/net/sand/logoutlives/listeners/PlayerJoinServer.class
/target/classes/net/sand/logoutlives/listeners/PlayerQuitServer.class
/target/classes/plugin.yml
/target/maven-archiver/pom.properties
/pom.xml
/target/classes/net/sand/logoutlives/extras/SaveFilesLL.class
/target/classes/net/sand/logoutlives/extras/TickChecker$1.class
/target/classes/net/sand/logoutlives/extras/TickChecker.class
/.idea/.name
/.idea/jarRepositories.xml
/.idea/LogoutLives.iml
/.idea/artifacts/LogoutLives.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/compiler.xml
/target/classes/config.yml
